<!-- <div class="container">
 <div class="row">
    <div class="column">
        <button class="btn btn-primary">
            Home
        </button>
    </div>
    <div class="column">
        <button class="btn btn-primary">
            Profile
        </button>
    </div>
 </div>
</div> -->
<div class="row">
    <div class="side">
        <h1>About Me</h1>
        <img src="../../../assets/login_bg.jpg" height="200px" alt="">
        <h4>Name: Aditya Pratap</h4>
        <h4>Contact: Aditya.p@mernplus.com</h4>
        <hr>
        <h3>Work Experience</h3>
        <h5>Zucol Services</h5>
        <h6>1.8 Years | Assistant Manager</h6>
        <hr>
        <h3>Education</h3>
        <h6>B.Tech (CSE) | Jagannath University</h6>
        <p>2020</p>
        <h6>St. Francis School | ISC Board</h6>
        <p>2016</p>
        <h6>St. John's School | ICSE Board</h6>
        <p>2014</p>
    </div>
    <div class="main">
        <h1>My Home</h1>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
  
