
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Hello World.</h1>
		
		<span>
			<p>login with social media</p>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true">Login with Facebook</i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
		</span>
		</div>
	</div>
	
	
		<div class="right">
            <br>
		<h5>Login</h5>
        <br>
        <hr>
		<p>Login to your account</p>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
		<div class="inputs">
			<input type="text" formControlName="email" placeholder="user name">
			<br>
			<input type="password" formControlName="password" placeholder="password">
		</div>
			
			<br><br>
			
	
			
			<br>
			<button type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
	</div>
	
</div>
<!-- partial -->

<router-outlet></router-outlet>
